<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Product App</title>
</head>
<body>
<div id="app">
    <div class="product">
        <div class="product-image">
            <img v-bind:alt="altText" v-bind:src="image">
        </div>
        <div class="product-info">
            <h1>{{ product }}</h1>
            <p>{{ description }}</p>
            <a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=socks">{{ link }}</a>
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
            <p v-else :class="{textLineThrough : inStock}">Out of stock</p>
            <span v-if="inventory > 100">onSale</span>
            <ul>
                <li v-for="detail in details">{{detail}}</li>
            </ul>
            <div v-for="variant in variants" :key="variant.variantID">
                <p>{{ variant.variantColor }}</p>
            </div>
            <ul v-for="size in sizes">
                <li>{{ size }}</li>
            </ul>
            <div class="cart">
                <p>Cart({{cart}})</p>
            </div>
            <button v-on:click="addToCart" :disabled="!inStock" :class="{ disabledButton: !inStock }">Add to cart</button>
            <button v-on:click="outCart">Out of cart</button>
            <div class="color-box" v-for="variant in variants" :key="variant.variantID" :style="{ backgroundColor:variant.variantColor }" @mouseover="updateProduct(variant.variantIMG)">
            </div>
        </div>
</div>
<script defer src="js/vue.min.js"></script>
<script  defer src="js/main.js"></script>
</body>
</html>